.containerSkills {
   width: 100%;
   max-width: 1110px;
   /* background-color: aqua; */
}

.label {
   font-family: Roboto;
   font-style: normal;
   font-weight: 800;
   font-size: 24px;
   line-height: 82px;
   /* display: flex; */
   /* align-items: center; */
   text-align: center;

   color: #FFE145;
}

.skillsCards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-width: 2px;
   border-color: #000000;
}

.skillItem {
   /* width: 100%; */
   text-align: center;
   /* display: flex; */
   align-items: center;
   position: relative;
}



.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #000000e7;
}

.skillItem:hover .overlay {
   opacity: 1;
   outline: none;
}

.skillItem:focus .overlay {
   opacity: 1;
   outline: none;
}

.textTitle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 32px;

   width: 80%;
   color: white;
   position: absolute;
   top: 5%;
   left: 10%;
   /* transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%); */
 }

.textBody {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   text-align: justify;

   color: white;
   position: absolute;
   top: 40%;
   left: 10%;
   width: 80%;
   /* transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%); */
}


@media (max-width: 700px) {
   .label {
      display: none;
   }
   .skillsCards {
      flex-direction: column;
      height: 100%;
      overflow: hidden;
   }
   .skillItem {
      width: 100%;
      height: 25%;
      /* border: 1px solid white; */
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .imageSkill {
      align-items: center;
      object-fit: cover;
      width: 100%;
      /* transform: translate(0%, -35%); */
      /* -ms-transform: translate(0%, -50%); */
   }
}