.containerSocial {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   /* border: 1px solid #f1f1f1; */
   width: 100%;
   flex-wrap: wrap;

}

.socialIcon {
   margin-left: 12px;
   margin-right: 12px;
   width: 200px;
   height: auto;
}



@media (max-height: 770px) and (min-width: 700px){
   .containerSocial {
      max-height: 100%;
   }
   .socialIcon {
      height: 40%;
      width: auto;
   }
}

@media (max-width: 700px){
   .containerSocial {
      max-height: 100%;
   }
   .socialIcon {
      height: auto;
      width: 40%;
   }
}

